<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Demo</h3>
            </div>
            <div class="panel-body">
                <!--<div class="well">
		  		<p>Setting used:</p>
		  		<code style="word-wrap: break-word;" [innerHTML]="getCodeHtml(userSettings7_1)"></code>
		  	</div>-->
                <div>
                    <ng4multi-calendar (dateCallback)="datecall($event)"></ng4multi-calendar>
                </div>
                <!--<div class="well" style="float: left;width: 100%;margin-top: 20px;">
		    	<p>Sample Output:</p>
		    	<samp style="word-wrap: break-word;">{{componentData7}}</samp>
		    </div>-->
            </div>
        </div>
    </div>
</div>